
<div class="section container">
    <h2>Fav Mammals</h2>
</div>

<div class="section content container">

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="mammal in vm.mammals">

            <h2>
                <button type="button" class="btn btn-cm controls pull-right" aria-label="Left Align" ng-click="$parent.vm.mammals.splice($index,1)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-cm controls pull-right" aria-label="Left Align" ui-sref="edit({id: {{mammal.id}}})"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <span ng-bind="mammal.name"></span>
            </h2>
            <p class="info" ng-bind="mammal.description | ellipsisFilter"></p>
            <p><a class="btn btn-cm" ui-sref="details({id: {{mammal.id}}})" role="button">View details »</a></p>
        </div>

    </div>

</div>